.custom-logo-size img {
    width: 150px !important; 
    height: auto !important; 
}


img {
    width: 300px !important;
    height: auto !important;
    border-radius: 50%; /* Ensure the image is circular */

}
