{% extends "IDGenie/base.html" %}
{% load static %}

{% block content %}



  <div class="blog-page area-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="page-head-blog">
            <div class="single-blog-page">
              <!-- search option start -->
              <form action="#">
                <div class="search-option">
                  <input type="text" placeholder="Search...">
                  <button class="button" type="submit">
                                            <i class="fa fa-search"></i>
                                        </button>
                </div>
              </form>
              <!-- search option end -->
            </div>
            <div class="single-blog-page">
              <!-- recent start -->
              <div class="left-blog">
                <h4>recent post</h4>
                <div class="recent-post">
                  <!-- start single post -->
                  <div class="recent-single-post">
                    <div class="post-img">
                      <a href="#">
												   <img src="{% static 'img/blog/1.jpg' %}" alt="">
												</a>
                    </div>
                    <div class="pst-content">
                      <p><a href="#"> Redug Lerse dolor sit amet consect adipis elit.</a></p>
                    </div>
                  </div>
                  <!-- End single post -->
                  <!-- start single post -->
                  <div class="recent-single-post">
                    <div class="post-img">
                      <a href="#">
												   <img src="{% static 'img/blog/2.jpg' %}" alt="">
												</a>
                    </div>
                    <div class="pst-content">
                      <p><a href="#"> Redug Lerse dolor sit amet consect adipis elit.</a></p>
                    </div>
                  </div>
                  <!-- End single post -->
                  <!-- start single post -->
                  <div class="recent-single-post">
                    <div class="post-img">
                      <a href="#">
												   <img src="{% static 'img/blog/3.jpg' %}" alt="">
												</a>
                    </div>
                    <div class="pst-content">
                      <p><a href="#"> Redug Lerse dolor sit amet consect adipis elit.</a></p>
                    </div>
                  </div>
                  <!-- End single post -->
                  <!-- start single post -->
                  <div class="recent-single-post">
                    <div class="post-img">
                      <a href="#">
												   <img src="{% static 'img/blog/4.jpg' %}" alt="">
												</a>
                    </div>
                    <div class="pst-content">
                      <p><a href="#"> Redug Lerse dolor sit amet consect adipis elit.</a></p>
                    </div>
                  </div>
                  <!-- End single post -->
                </div>
              </div>
              <!-- recent end -->
            </div>
            <div class="single-blog-page">
              <div class="left-blog">
                <h4>categories</h4>
                <ul>
                  <li>
                    <a href="#">Portfolio</a>
                  </li>
                  <li>
                    <a href="#">Project</a>
                  </li>
                  <li>
                    <a href="#">Design</a>
                  </li>
                  <li>
                    <a href="#">wordpress</a>
                  </li>
                  <li>
                    <a href="#">Joomla</a>
                  </li>
                  <li>
                    <a href="#">Html</a>
                  </li>
                  <li>
                    <a href="#">Website</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="single-blog-page">
              <div class="left-blog">
                <h4>archive</h4>
                <ul>
                  <li>
                    <a href="#">07 July 2016</a>
                  </li>
                  <li>
                    <a href="#">29 June 2016</a>
                  </li>
                  <li>
                    <a href="#">13 May 2016</a>
                  </li>
                  <li>
                    <a href="#">20 March 2016</a>
                  </li>
                  <li>
                    <a href="#">09 Fabruary 2016</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="single-blog-page">
              <div class="left-tags blog-tags">
                <div class="popular-tag left-side-tags left-blog">
                  <h4>popular tags</h4>
                  <ul>
                    <li>
                      <a href="#">Portfolio</a>
                    </li>
                    <li>
                      <a href="#">Project</a>
                    </li>
                    <li>
                      <a href="#">Design</a>
                    </li>
                    <li>
                      <a href="#">wordpress</a>
                    </li>
                    <li>
                      <a href="#">Joomla</a>
                    </li>
                    <li>
                      <a href="#">Html</a>
                    </li>
                    <li>
                      <a href="#">Masonry</a>
                    </li>
                    <li>
                      <a href="#">Website</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End left sidebar -->



        
        <!-- Start single blog -->
        {% load static %}

        <div class="col-md-8 col-sm-8 col-xs-12">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <!-- single-blog start -->
              <article class="blog-post-wrapper">
                <div class="post-thumbnail">
                  <img src="{{ blog_post.image.url }}" alt="{{ blog_post.title }}" />
                </div>
                <div class="post-information">
                  <h2>{{ blog_post.title }}</h2>
                  <div class="entry-meta">
                    <span class="author-meta"><i class="fa fa-user"></i> <a href="#">{{ blog_post.author.username }}</a></span>
                    <span><i class="fa fa-clock-o"></i> {{ blog_post.created_at|date:"F d, Y" }}</span>
                    <span class="tag-meta">
                      <i class="fa fa-folder-o"></i>
                      <a href="#">Category</a>
                    </span>
                    <span>
                      <i class="fa fa-comments-o"></i> <a href="#">{{ comments.count }} Comments</a>
                    </span>
                  </div>
                  <div class="entry-content">
                    <p>{{ blog_post.content }}</p>
                  </div>
                </div>
              </article>
              <div class="clear"></div>
        
              <!-- Comments Section -->
              <div class="single-post-comments">
                <div class="comments-area">
                  <div class="comments-heading">
                    <h3>{{ comments.count }} Comments</h3>
                  </div>
                  <div class="comments-list">
                    <ul>
                      {% for comment in comments %}
                      <li>
                        <div class="comments-details">
                          <div class="comments-list-img">
                            <img src="{% static 'img/blog/b02.jpg' %}" alt="Comment Author">
                          </div>
                          <div class="comments-content-wrap">
                            <span>
                              <b>{{ comment.author.username }}</b>
                              <span class="post-time">{{ comment.created_at|date:"F d, Y @ H:i" }}</span>
                            </span>
                            <p>{{ comment.content }}</p>
                          </div>
                        </div>
                      </li>
                      {% empty %}
                      <li>No comments yet. Be the first to comment!</li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
        
                <!-- Comment Form -->
                <div class="comment-respond">
                  <h3 class="comment-reply-title">Leave a Reply</h3>
                  {% if user.is_authenticated %}
                  <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 comment-form-comment">
                        <p>Your Comment *</p>
                        <textarea name="content" id="message-box" cols="30" rows="5" placeholder="Write your comment..."></textarea>
                        <input type="submit" value="Post Comment" />
                      </div>
                    </div>
                  </form>
                  {% else %}
                  <p>You must be <a href="{% url 'login' %}">logged in</a> to leave a comment.</p>
                  {% endif %}
                </div>
              </div>
              <!-- single-blog end -->
            </div>
          </div>
        </div>
        

        
      </div>
    </div>
  </div>
  <!-- End Blog Area -->
  <div class="clearfix"></div>


  {% endblock %}
