{% extends "IDGenie/base.html" %}
{% load static %}

{% block content %}



  <div class="blog-page area-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="page-head-blog">
            <div class="single-blog-page">
              <!-- search option start -->
              <form action="#">
                <div class="search-option">
                  <input type="text" placeholder="Search...">
                  <button class="button" type="submit">
                                            <i class="fa fa-search"></i>
                                        </button>
                </div>
              </form>
              <!-- search option end -->
            </div>
            <div class="single-blog-page">
              <!-- recent start -->
              <div class="left-blog">
                <h4>recent post</h4>
                <div class="recent-post">
                  <!-- start single post -->
                  <div class="recent-single-post">
                    <div class="post-img">
                      <a href="#">
												   <img src="{% static 'img/blog/1.jpg' %}" alt="">
												</a>
                    </div>
                    <div class="pst-content">
                      <p><a href="#"> Redug Lerse dolor sit amet consect adipis elit.</a></p>
                    </div>
                  </div>
                  <!-- End single post -->
                  <!-- start single post -->
                  <div class="recent-single-post">
                    <div class="post-img">
                      <a href="#">
												   <img src="{% static 'img/blog/2.jpg' %}" alt="">
												</a>
                    </div>
                    <div class="pst-content">
                      <p><a href="#"> Redug Lerse dolor sit amet consect adipis elit.</a></p>
                    </div>
                  </div>
                  <!-- End single post -->
                  <!-- start single post -->
                  <div class="recent-single-post">
                    <div class="post-img">
                      <a href="#">
												   <img src="{% static 'img/blog/3.jpg' %}" alt="">
												</a>
                    </div>
                    <div class="pst-content">
                      <p><a href="#"> Redug Lerse dolor sit amet consect adipis elit.</a></p>
                    </div>
                  </div>
                  <!-- End single post -->
                  <!-- start single post -->
                  <div class="recent-single-post">
                    <div class="post-img">
                      <a href="#">
												   <img src="{% static 'img/blog/4.jpg' %}" alt="">
												</a>
                    </div>
                    <div class="pst-content">
                      <p><a href="#"> Redug Lerse dolor sit amet consect adipis elit.</a></p>
                    </div>
                  </div>
                  <!-- End single post -->
                </div>
              </div>
              <!-- recent end -->
            </div>
            <div class="single-blog-page">
              <div class="left-blog">
                <h4>categories</h4>
                <ul>
                  <li>
                    <a href="#">Portfolio</a>
                  </li>
                  <li>
                    <a href="#">Project</a>
                  </li>
                  <li>
                    <a href="#">Design</a>
                  </li>
                  <li>
                    <a href="#">wordpress</a>
                  </li>
                  <li>
                    <a href="#">Joomla</a>
                  </li>
                  <li>
                    <a href="#">Html</a>
                  </li>
                  <li>
                    <a href="#">Website</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="single-blog-page">
              <div class="left-blog">
                <h4>archive</h4>
                <ul>
                  <li>
                    <a href="#">07 July 2016</a>
                  </li>
                  <li>
                    <a href="#">29 June 2016</a>
                  </li>
                  <li>
                    <a href="#">13 May 2016</a>
                  </li>
                  <li>
                    <a href="#">20 March 2016</a>
                  </li>
                  <li>
                    <a href="#">09 Fabruary 2016</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="single-blog-page">
              <div class="left-tags blog-tags">
                <div class="popular-tag left-side-tags left-blog">
                  <h4>popular tags</h4>
                  <ul>
                    <li>
                      <a href="#">Portfolio</a>
                    </li>
                    <li>
                      <a href="#">Project</a>
                    </li>
                    <li>
                      <a href="#">Design</a>
                    </li>
                    <li>
                      <a href="#">wordpress</a>
                    </li>
                    <li>
                      <a href="#">Joomla</a>
                    </li>
                    <li>
                      <a href="#">Html</a>
                    </li>
                    <li>
                      <a href="#">Masonry</a>
                    </li>
                    <li>
                      <a href="#">Website</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End left sidebar -->



        
       <!-- Start single blog -->
<div class="col-md-8 col-sm-8 col-xs-12">
  <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
          <!-- single-blog start -->
          {% for blog_post in blog_posts %}
          <article class="blog-post-wrapper">
              <div class="post-thumbnail">
                  {% if blog_post.image %}
                      <img src="{{ blog_post.image.url }}" alt="Blog Image" />
                  {% else %}
                      <img src="{% static 'img/blog/6.jpg' %}" alt="Default Image" />
                  {% endif %}
              </div>
              <div class="post-information">
                  <h2>{{ blog_post.title }}</h2> <!-- Displaying blog post title -->
                  <div class="entry-meta">
                      <span class="author-meta"><i class="fa fa-user"></i> <a href="#">{{ blog_post.author.username }}</a></span>
                      <span><i class="fa fa-clock-o"></i> {{ blog_post.created_at|date:"F j, Y" }}</span>
                      <span class="tag-meta">
                          <i class="fa fa-folder-o"></i>
                          <a href="#"> {{ blog_post.category.name }}</a>
                      </span>
                  </div>
                  <div class="entry-content">
                      <!-- Rendering the CKEditor content -->
                      {{ blog_post.content|safe }}
                  </div>
              </div>
          </article>
          <div class="clear"></div>
          
          <div class="single-post-comments">
              <div class="comments-area">
                  <div class="comments-heading">
                      <h3>{{ blog_post.comments.count }} comments</h3>
                  </div>
                  <div class="comments-list">
                      <ul>
                          {% for comment in blog_post.comments.all %}
                              <li class="threaded-comments">
                                  <div class="comments-details">
                                      <div class="comments-list-img">
                                          <img src="{% static 'img/blog/b02.jpg' %}" alt="post-author">
                                      </div>
                                      <div class="comments-content-wrap">
                                          <span>
                                              <b><a href="#">{{ comment.author.username }}</a></b>
                                              <span class="post-time">{{ comment.created_at|date:"F j, Y at g:i A" }}</span>
                                          </span>
                                          <p>{{ comment.content }}</p>
                                      </div>
                                  </div>
                              </li>
                          {% endfor %}
                      </ul>
                  </div>
              </div>
              
              <div class="comment-respond">
                  <h3 class="comment-reply-title">Leave a Reply</h3>
                  <span class="email-notes">Your email address will not be published. Required fields are marked *</span>
                  <form method="POST">
                      {% csrf_token %}
                      <div class="row">
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                              <p>Name *</p>
                              <input type="text" name="author" required />
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                              <p>Email *</p>
                              <input type="email" name="email" required />
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                              <p>Website</p>
                              <input type="text" name="website" />
                          </div>
                          <div class="col-lg-12 col-md-12 col-sm-12 comment-form-comment">
                              <p>Comment</p>
                              <textarea id="message-box" cols="30" rows="10" name="content" required></textarea>
                              <input type="submit" value="Post Comment" />
                          </div>
                      </div>
                  </form>
              </div>
          </div>
          {% endfor %}
          <!-- single-blog end -->
      </div>
  </div>
</div>


        
      </div>
    </div>
  </div>
  <!-- End Blog Area -->
  <div class="clearfix"></div>


  {% endblock %}
